<footer class="footer">
  <small>
    <a href="https://github.com/mattrubin/RailsTemplate">Rails Template</a>
    by <a href="https://github.com/mattrubin">Matt Rubin</a>
  </small>
  <nav>
    <ul>
      <li><%= link_to "About",   about_path %></li>
      <li><%= link_to "Contact", contact_path %></li>
      <li><%= link_to "News",    '#' %></li>
    </ul>
  </nav>
</footer>
